html, body {
  height: 100%;
}

#footer {
	background: #89E894;
	width: 100%;
	height: 50px;
	color: white;
}

#left {
    width: 60%;
    float: left;
}

#right {
    width: 30%;
    float: right;
}

#encabezado {
	margin: 0px;
}

#logo {
	float: left;
	margin: 0px;
}

#logIn {
	float: right;
}


div .container {
	margin: auto;
	padding-right: 30px;
	
}

div .slidecontainer {
  width: 50%;
  margin: auto;
  padding-bottom: 50px;

}
   

