html, body {
  height: 100%;
}

#footer {
	background: #0c723f;
	max-width: 700%;
	margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
	color: white;
}

#footer .footer-nav ul .title {
	color: white;
	text-transform: uppercase;
	list-style-type: none;
	
}


#footer .footer-nav ul,ol li a {
	color: white;
	font size: 50px;
	list-style-type: none;
}


#left {
    width: 60%;
    float: left;
}

#right {
    width: 30%;
    float: right;
}

#encabezado {
	margin: 0px;
}

#logo {
	float: left;
	margin: 0px;

}

#logIn {
	float: right;
	background: -webkit-gradient(linear, left top, left bottom, from(#006633), to(#117744));
	color: rgba(51, 51, 51, 0);		
}



div .container {
	margin: auto;
	padding-right: 30px;
	
}




div .navbar-default .navbar-nav>li>a {
	color: #5cb85c;
	/*La referencia  de color viene apartir de
 inspecionar el elemento en el buscador*/
}



div .slidecontainer {
  width: 50%;
  margin: auto;
  padding-bottom: 50px;

}



form .navbar-form {
	width: 100%;

}	


h4.title {
    color: #006633;
    border-bottom: 3px solid #006633;
    padding-bottom: 5px;
}


div p a {
	color: black;
}
/*slider <a> font*/ 




.header-logo {
	background: (../fot.jpg); 

}   

