#encabezado {
	margin: 0px;
}

div .container {
	margin: auto;
	padding-right: 30px;
	
}

#logo {
	float: left;
	margin: 0px;
}

#logIn {
	float: right;
}

p { 
	padding:15px 50px 15px 5px;
}


}

h1 {padding: 5px 10px;

}


div .slidecontainer {
  width: 50%;
  margin: auto;
  padding-bottom: 50px;

}

.readmore {
	border-style: solid;
	border background: black;
	color: black;
	border-radius: 5px;
	float:right;
	padding: 3px;
		
}
	    

